html {
  height: 100%;
}
body {
  min-height: 100%;

  font-family: "Roboto", sans-serif;
  background-color: rgb(231, 231, 231);
  margin: 0;
}
main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.leftpanel {
  max-width: 25%;
  height: 1100px;
  background-color: rgb(48, 48, 48);
  margin: 0;
  color: rgb(247, 247, 247);
}
.photo {
  display: block;
  width: 80%;
  border-radius: 50%;
  margin: 20px auto;
}
.rightpanel {
  width: 60%;
  height: 1100px;
  background-color: rgb(247, 247, 247);
  margin: 0;
  color: rgb(48, 48, 48);
}

header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
.contacts {
  width: 80%;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.6;
}
h4 {
  width: 80%;
  margin: 20px auto;
  text-transform: uppercase;
}
.link {
  font-size: 20px;
  color: rgb(247, 247, 247);
}
a:hover {
  color: rgb(57, 80, 156);
}

.text {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
.skills {
  list-style-type: circle;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
